.frets{
    display: grid;
    grid-template: repeat(6 1fr)/ repeat(5 1fr);
}
.fret{
    height: 20px;
    width:auto;
    text-align: center;
    font-weight: bold;
    position: relative;
    border-left: solid 1px;
    border-right: solid 1px;
    background-color: burlywood;
}
/*отрисовка струны*/
.fret:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    /* background: black; */
    width: 100%;
    transform: translateY(-50%);
  }
  .question hr{
    border-top: solid 1px; 
    margin: 10px 0;
  }
  .question{
      padding: 10px;
      position: relative;
  }
  .exLines{
      width:20px;
      margin-left: 15px;
  }
  .note{
      border: solid 1px;
      border-radius: 15px;
      height: 10px;
      width: 10px;
      position: absolute;
      left: +30px;
      top: +40px;
  }