.frets{
    display: grid;
    grid-template: repeat(6 1fr)/ repeat(5 1fr);
}
.fret{
    height: 20px;
    width:auto;
    text-align: center;
    font-weight: bold;
    position: relative;
    border-left: solid 1px;
    border-right: solid 1px;
    background-color: burlywood;
}
.hint{
  display:none;
}
/*отрисовка струны*/
.fret:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    /* background: black; */
    width: 100%;
    transform: translateY(-50%);
  }
  .question hr{
    border-top: solid 1px; 
    margin: 10px 0;
    z-index: -1;
  }
  .question{
      padding: 10px;
      position: relative;
      background-image: url("./clef.png");
      background-repeat: no-repeat;
      z-index: 1;
  }
  .lines{
      border-left: solid 1px;
      border-right: solid 1px;

  }
  .exLines{
      width:20px;
      margin-left: 65px;
  }
  .note{
      border: solid 2px;
      border-radius: 15px;
      height: 9px;
      width: 9px;
      position: absolute;
      left: +79px;
      top: +40px;
  }
input[type=radio]{/*Hide html radio buttons*/
    position: absolute;
    visibility: hidden;
  }
  .notesList{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 10px 0;
  }
  .notesList label{
      background-color: aquamarine;
      width: 50px;
    text-align: center;
  }
  input[type=radio]:checked + label{
    background-color: #0b5009;
  }